.container {
    width: 400px;
}
.baseAlert {
    padding: 1em;
    border-radius: 5px;
    margin: 1em 0;
    font-size: 1em;
}
  
.success {
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
    color: #155724;
}
  
.info {
    background-color: #d1ecf1;
    border: 1px solid #bee5eb;
    color: #0c5460;
}
  
.warning {
    background-color: #fff3cd;
    border: 1px solid #ffeeba;
    color: #856404;
}
  
.error {
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    color: #721c24;
}
  